.overlay {
  position: absolute;
  display: block;
  background-color: black;
  opacity: 0.85;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.input {
  display: block;
  font-size: 20px;
  position: absolute;
  text-align:center;
  display: grid;
  width:100%;
  z-index: 2;
}

.label {
  margin:auto;
  color: #D6D6D6;
}

.input-box {
  width: 50%;
  margin-top: 10%;
  margin-left:auto;
  margin-right:auto;
  border:2px solid #aaa;
  border-radius:4px;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}


.input-button {
    background: #D6D6D6;
    border: 1px solid #D6D6D6;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    margin-top: 10%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .input-button:hover,
  .input-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #D6D6D6;
  }
  
  .input-button:active {
    opacity: .5;
  }


.compass-title {
  display: flex;
  color: #D6D6D6;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size:xx-large;
  text-align: center;
}

.compass {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #D6D6D6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.compass::before {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: url(./Images/zamok.jpg) center
  no-repeat;
  opacity: var(--opacity-mypoint);
  content: "";
  transition: opacity 0.5s ease-out;
}

.compass > .compass-circle,
.compass > .my-point {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: var(--transform-compass);
  transition: transform 0.1s ease-out;
  background: url(./Images/arrow.png) center
    no-repeat;
  background-size: contain;
}

.compass > .my-point {
  opacity: var(--opacity-mypoint);
  width: 20%;
  height: 20%;
  background: rgb(8, 223, 69);
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
}

.map-title {
  display: flex;
  color: #D6D6D6;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size:xx-large;
  text-align: center;
  margin-top: 10%;
}
#google-map {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: center;

}