
.compass {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.compass::before {
  transition: opacity 0.5s ease-out;
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: url(./Images/zamok.jpg) center
  no-repeat;
  opacity: var(--opacity-mypoint);
  z-index: -1;
}

.compass > .compass-circle,
.compass > .my-point {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: var(--transform-compass);
  transition: transform 0.1s ease-out;
  background: url(./Images/arrow.png) center
    no-repeat;
  background-size: contain;
}
